.container-circle{
    width:100%;
    height : 100vh;
    text-align: center;
    
  }
  svg{
    position : relative;
    top:33%;
    animation :loading 1.5s infinite linear;
  }
  
  circle {
    fill : none;
    stroke : #5ab9d6;
    stroke-width : 3;
  }
  .small-circle {
    fill : #5ab9d6;
    stroke-width : 4;
  }
  
  @keyframes loading {
    from {
      transform : rotate(0deg);
    }
    to{
      transform : rotate(360deg);
    }
  }